/* This is my App CSS */
.App {
  background-color: dimgrey;
  width: 350px;
  height: 350px;
  padding: 5px;
  margin: 5px;
}
.OutPut {
  line-height: 40px;
  background-color: white;
  color: black;
  height: 40px;
  margin-bottom: 10px;
  font-size: 1.4em;
  text-align: right;
  font-family: monospace;
  padding: 0 8px;
}

.Btn {
  width: 50px;
  height: 50px;
  padding: 7px;
  margin: 3px;
  background-color: azure;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  line-height: 50px;
  display: inline-block;
}
.Keys {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 350px;
  height: 300px;
}
.Row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
